# SeaFall Results

After 10 games of play the leaderboard has a bit of history and depth. How has each player performed? How did each player reach their current total of glory?

## Visualizing Glory

The final score of each game is the only clear measure we have of player performance. We have not kept track of further gameplay details from game to game such as gold acquired, relics or tablets recovered, or number of permanent enmity on the board.

In [1]:
%matplotlib inline

import itertools
import matplotlib
import matplotlib.pyplot
import numpy
import pandas
import scipy.misc
import scipy.special
import scipy.stats
import seaborn
import trueskill
import xlrd

## TrueSkill

Microsoft research created a method for ranking player perfomance in multi-player games called TrueSkill. Let's apply this ranking to our game of SeaFall!

In [2]:
df_glory = pandas.read_excel("./captains_log/glory.xlsx")
df_glory

,game_number,glory_target,dave,kyle,scott,mike,joe,dave_total,kyle_total,scott_total,...,dave_rank,kyle_rank,scott_rank,mike_rank,joe_rank,dave_norm,kyle_norm,scott_norm,mike_norm,joe_norm
0,1,11,11,6,6,5,4,11,6,6,...,1,2,2,4,5,1.000000,0.545455,0.545455,0.454545,0.363636
1,2,12,6,8,10,12,9,17,14,16,...,5,4,2,1,3,0.500000,0.666667,0.833333,1.000000,0.750000
2,3,13,9,7,6,12,18,26,21,22,...,3,4,5,2,1,0.692308,0.538462,0.461538,0.923077,1.384615
3,4,14,14,14,7,2,2,40,35,29,...,1,1,3,4,4,1.000000,1.000000,0.500000,0.142857,0.142857
4,5,15,15,12,9,12,8,55,47,38,...,1,2,4,2,5,1.000000,0.800000,0.600000,0.800000,0.533333
5,6,16,14,14,20,12,12,69,61,58,...,2,2,1,4,4,0.875000,0.875000,1.250000,0.750000,0.750000
6,7,17,5,3,10,10,19,74,64,68,...,4,5,2,2,1,0.294118,0.176471,0.588235,0.588235,1.117647
7,8,18,6,6,19,7,4,80,70,87,...,3,3,1,2,5,0.333333,0.333333,1.055556,0.388889,0.222222
8,9,19,8,12,11,25,8,88,82,98,...,4,2,3,1,4,0.421053,0.631579,0.578947,1.315789,0.421053
9,10,20,7,19,9,20,20,95,101,107,...,5,3,4,1,1,0.350000,0.950000,0.450000,1.000000,1.000000

In [3]:
dave = trueskill.Rating()
kyle = trueskill.Rating()
scott = trueskill.Rating()
mike = trueskill.Rating()
joe = trueskill.Rating()

In [4]:
# demo
trueskill.quality([(dave,),(kyle,),(scott,),(mike,),(joe,)])
print(dave)
new_dave, new_kyle, new_scott, new_mike, new_joe = trueskill.rate([(dave,),(kyle,),(scott,),(mike,),(joe,)])
print(new_dave)
new_dave, new_kyle, new_scott, new_mike, new_joe = trueskill.rate([new_scott,new_kyle,new_dave,new_mike,new_joe])
print(new_dave)
new_dave, new_kyle, new_scott, new_mike, new_joe = trueskill.rate([(dave,),(kyle,),(scott,),(mike,),(joe,)], ranks=[0, 1, 1, 3, 4])
print(new_dave)

trueskill.Rating(mu=25.000, sigma=8.333)
(trueskill.Rating(mu=34.363, sigma=6.136),)
(trueskill.Rating(mu=31.387, sigma=4.344),)
(trueskill.Rating(mu=32.687, sigma=6.176),)

In [5]:
def update_glory(ratings, s_glry):
    
    new_ratings = trueskill.rate(ratings, ranks=[s_glry["dave_rank"],
                                                 s_glry["kyle_rank"],
                                                 s_glry["scott_rank"],
                                                 s_glry["mike_rank"],
                                                 s_glry["joe_rank"]])
    
    return new_ratings

In [6]:
x = df_glory.loc[0]

In [7]:
mu, sigma = new_dave[0]

In [8]:
df_glory.shape[0]

10

In [9]:
dave = trueskill.Rating()
kyle = trueskill.Rating()
scott = trueskill.Rating()
mike = trueskill.Rating()
joe = trueskill.Rating()

ratings = [(dave,),(kyle,),(scott,),(mike,),(joe,)]

for ind, row in df_glory.iterrows():
    
    ratings = update_glory(ratings, row)

In [10]:
ratings

[(trueskill.Rating(mu=23.769, sigma=1.744),),
 (trueskill.Rating(mu=24.685, sigma=1.685),),
 (trueskill.Rating(mu=25.492, sigma=1.727),),
 (trueskill.Rating(mu=26.834, sigma=1.718),),
 (trueskill.Rating(mu=23.855, sigma=1.777),)]

In [11]:
trueskill.quality(ratings)

0.6200615652798235